:root {
    --link-4-5-color: #ff0000;
    --font-size-p: 24px;
}

a[href="https://www.youtube.com/"],
a[ href="https://validator.w3.org/"] {
    color: var(--link-4-5-color);
}

ul+p{
    font-size: var(--font-size-p);
}

body{
    background-color: yellow;
}

.holler{
    font-size: 24px;
}

h1+p{
    background-color: green;
}

h1{
    color: #ff0000;
}

a{
    color: blueviolet;
}

.list ul a{
    color: blue;
}

a[href="#"]{
    font-size: 32px;
}